@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

* {
    box-sizing: border-box;
  }
  body{
    width: 100%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
  }
  .qr-code-component-container{
    position: relative;
    top: 6rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    height: 497px;
    width: 322px;
    background-color:hsl(0, 0%, 100%) ;
    margin: 0 auto;
    filter: drop-shadow(4px 37px 26px rgb(10,10,10,0.15));  
  }
  
  .qr-code-container{
    margin: 1rem auto 0;
    height: 286px;
    width: 291px;
  }

  .qr-code-container img{
    justify-items: center;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
  }
  .qr-code-component-text{
    position: relative;
    top:1.5rem;
  }
  /* 
  margin: 0 auto;
  */
  .qr-code-component-text h1, .qr-code-component-text p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
  }
  .qr-code-component-text h1{
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
  } 
  .qr-code-component-text p{
    margin-top: 1rem;
    font-size: 1.15rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
  }

  .attribution{
    position: relative;
    top: 7rem;
  }